body{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
/*change this to a horizontal bar later */
nav ul{
  list-style-type: none;
  width: 200px;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
}
p,div{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}
