{% extends "base.html" %}
{% block content %}
  <div>
    <h2>Create New Task</h2>
    <form action="" method="post" name="task">
      {{ form.hidden_tag() }}
      <p>
        Task:<br>
        {{ form.title }}<br>
      </p>
      <p>
        Task Description: (Optional. Max 500 characters.)<br>
        {{ form.desc }}<br>
      </p>
      <p><input type="submit" value="Task"></p>
    </form>
    {% with messages=get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
