{% extends "base.html" %}
{% block content %}
  <h1>Tasks</h1>
  {% for task in tasks %}
    {% if not task.completed %}
      <div id="tasks">
        <p id="title">Title: {{ task.title }}</p>
        <form id="complete" action="/update" method="POST" name="completed">
          <input type="checkbox" value="Complete" onchange="this.form.submit()">
          <input type="hidden" name="id" value="{{ task.id }}">
        </form>
        <p id="desc">Description: {{ task.description }}</p>
        <p id="date">Date Added: {{ task.date }}</p><br>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
