{% extends "base.html" %}
{% block content %}
  <h1>Books</h1>
  {% for book in books %}
    <div class="container-fluid border border-dark row">
      <div class="col-md-6">
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Release Date: {{ book.release_date }}</p>
        <p><a href="">View more information</a></p>
      </div>
      <div class="col-md-6">
        {% if book.image %}
          <img style="float:right;" src="{{ book.image }}" alt="Cover Image for {{ book.title }}" height="75" width="75">
        {% else %}
          <p style="float:right;">No image provided</p>
        {% endif %}
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}
