{% extends "base.html" %}
{% block content %}
  <h1>Update Password</h1>
  <form action="" method="post" name="update">
    {{ form.hidden_tag() }}
    <p>Current Password: {{ form.current_password }}</p><br>
    <p>New Password: {{ form.new_password }}</p><br>
    <p>Confirm Password: {{ form.confirm_password }}</p>
    <p><input type="submit" value="Confirm"></p>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
